@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
.App {
  text-align: center;
}
h1{
  font-family: 'Montserrat', sans-serif;
}

.activity-wrapper, .add {
  display: flex;
  margin: 10px auto;
  min-width: 350px;
  max-width: 480px;
}

.activity-wrapper > *, .add > * {
  margin: 10px 16px;
}